*{
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    -ms-scrollbar-shadow-color: #003c57;
}



.button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #2980b9;
    transform: scale(1.1);
}

body {
    font-family: 'Roboto', sans-serif;
    /*overflow: hidden;*/
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: 700;
}

.register{
    display: none;
}

::-webkit-scrollbar{
    display: none;
}

.accueil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    padding:  2rem 0;

}


form h3{
    text-align: center;
    padding: 2%;
    color: #ffffff;
    font-weight: bolder;
    font-size: 225%;
}

.contentExplainForm{
    color: #ffffff;
    margin-bottom: 4vh;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #545454;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg,#003c57,#007198,#007198,#003c57);
    background-size: 300% 300%;
    animation: color 8s ease-in-out infinite;
}

@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 50% 0%;
    }
    100%{
        background-position: 100% 50%;
    }

}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    margin-top: 5vh;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.logo-nexa {
    max-width: 12vw;
    transform: translateX(-5px);
}

h2 {
    font-weight: 700;
    color: #333;
}



.choice-form__button{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
    box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
    border: 1.5px solid rgba(255, 255, 255, 0.06);
    border-radius: 8px;
    margin-top: 35px;
}

.choice-form__button button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-weight: 700;
    backdrop-filter: blur(50px);
}

.choice-form__button button:hover {
    background-color: #2980b9;
}

.accueil form {
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 1px 25px 23px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    /*-webkit-box-shadow: 0px 25px 23px rgba(0, 0, 0, 0.15);*/
    border: 1.5px solid rgba(255, 255, 255, 0.06);
    padding: 2% 6% ;

}

.field {
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

label {
    color: #dcdcdc;
    font-size: 100%;
}

.field input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 17vw;
}

.checkpswd {
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor:pointer;
    vertical-align: middle;
}

.field-pswd, .field-email {
    display: flex;
    align-items: center;
    position: relative;
}

.forgotPwd{

    color: #dcdcdc;
    text-decoration: none;
}

.inscription-connexion-button-container {
    text-align: center;
}


/*.textfield{*/
/*    border: none;*/
/*    outline: none;*/
/*    border-radius: 15px;*/
/*    padding: 1em;*/
/*    background-color: #ccc;*/
/*    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);*/
/*    transition: 300ms ease-in-out;*/
/*}*/

/*.textfield:focus{*/
/*    background-color: white;*/
/*    transform: scale(1.05);*/
/*    box-shadow: 3px 3px 50px #969696,*/
/*    -3px -3px 50px #ffffff;*/
/*}*/

/* The switch - the box around the slider */
.switch {
    /* Variables */
    --switch_width: 2em;
    --switch_height: 1em;
    --thumb_color: #e8e8e8;
    --track_color: #e8e8e8;
    --track_active_color: #888;
    --outline_color: #000;
    font-size: 17px;
    position: absolute;
    right: 7px;
    display: inline-block;
    width: var(--switch_width);
    height: var(--switch_height);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    box-sizing: border-box;
    border: 2px solid var(--outline_color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--track_color);
    transition: .15s;
    border-radius: var(--switch_height);
}

.slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: var(--switch_height);
    width: var(--switch_height);
    border: 2px solid var(--outline_color);
    border-radius: 100%;
    left: -2px;
    bottom: -2px;
    background-color: var(--thumb_color);
    transform: translateY(-0.2em);
    box-shadow: 0 0.2em 0 var(--outline_color);
    transition: .15s;
}

input:checked + .slider {
    background-color: var(--track_active_color);
}

input:focus-visible + .slider {
    box-shadow: 0 0 0 2px var(--track_active_color);
}

/* Raise thumb when hovered */
input:hover + .slider:before {
    transform: translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked + .slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
}

/* Raise thumb when hovered & checked */
input:hover:checked + .slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
}

.NexaInformation {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.NexaInformation h2 {
    color: #dddddd;
}

@media screen and (min-width: 767px) and (max-width: 1023px){
    .accueil{
        width: 100%;
        padding:  2rem 0;
    }

    .field input {
        width: 100%;
    }

    .choice-form__button button {
        width: 100%;
    }

    .field {
        margin-bottom: 8%;
    }

    .field-pswd, .field-email {
        display: flex;
        align-items: center;
        position: relative;
    }

    .checkpswd {
        position: absolute;
        right: 10px;
        width: 30px;
        height: 30px;
        cursor:pointer;
        vertical-align: middle;
    }

    .forgotPwd{
        color: #dcdcdc;
        text-decoration: none;
    }

    .inscription-connexion-button-container {
        text-align: center;
    }

    .container-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .head {
        text-align: center;
        margin-bottom: 20px;
    }

    .logo-nexa {
        max-width: 100px;
    }

    h2 {
        font-weight: 700;
        color: #333;
    }

    .choice-form__button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.06);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
        box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
        border: 1.5px solid rgba(255, 255, 255, 0.06);
        border-radius: 8px;
    }

    .choice-form__button button {
        background-color: #3498db;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        font-weight: 700;
        backdrop-filter: blur(50px);
    }
}
@media screen and (max-width: 767px){
    .accueil{
        width: 100%;
        padding:  2rem 0;
    }

    .field input {
        width: 100%;
    }

    .choice-form__button button {
        width: 100%;
    }

    .field {
        margin-bottom: 8%;
    }

    .field-pswd, .field-email {
        display: flex;
        align-items: center;
        position: relative;
    }

    .checkpswd {
        position: absolute;
        right: 10px;
        width: 30px;
        height: 30px;
        cursor:pointer;
        vertical-align: middle;
    }

    .forgotPwd{
        color: #dcdcdc;
        text-decoration: none;
    }

    .inscription-connexion-button-container {
        text-align: center;
    }

    .container-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
    }

    .head {
        text-align: center;
        margin-bottom: 20px;
    }

    .logo-nexa {
        max-width: 100px;
    }

    h2 {
        font-weight: 700;
        color: #333;
    }

    .choice-form__button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.06);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
        box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
        border: 1.5px solid rgba(255, 255, 255, 0.06);
        border-radius: 8px;
    }

    .choice-form__button button {
        background-color: #3498db;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        font-weight: 700;
        backdrop-filter: blur(50px);
    }
}

