*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #2980b9;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-weight: 700;
}

.register{
    display: none;
}



.accueil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 7rem;
    padding: 0 25%;
    width: 100%;




}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #545454;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

.head {
    text-align: center;
    margin-bottom: 20px;
}

.logo-nexa {
    max-width: 100px;
}

h2 {
    font-weight: 700;
    color: #333;
}



.choice-form__button{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
    box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
    border: 1.5px solid rgba(255, 255, 255, 0.06);
    border-radius: 8px;
}

.choice-form__button button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-weight: 700;
    backdrop-filter: blur(50px);
}

.choice-form__button button:hover {
    background-color: #2980b9;
}

.field {
    margin-bottom: 10px;
}

.label {
    color: #333;
}

.field input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.field-pswd {
    display: flex;
    align-items: center;
    position: relative;

}

.checkpswd {
    position: absolute;
    top: 14px;
    right: -45%;
    width: 15px;
    height: 15px;
    background-color: #00aaff;
}

.inscription-connexion-button-container {
    text-align: center;
}

.NexaInformation {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.NexaInformation h2 {
    color: #dddddd;
}


