.header-body {
    background-color: #00aaff;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-body .left-header {
    display: flex;
    align-items: center;
}

.header-body .logo-img {
    width: 10em;
    background-color: white;
    padding: 0.3em;
    text-align: center;
}

.header-body .search-btn,
.header-body .search-input {
    margin-left: 0.6em;
}

.header-body .search-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.header-body .search-input {
    width: 6em;
    height: 2em;
    border: none;
    border-radius: 1em;
    padding-left: 0.9em;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    transition: width 0.4s ease, background 0.4s ease;
    outline: none;
}

.header-body .search-input:hover {
    width: 12em;
    background: rgba(255, 255, 255, 0.5);
}

.header-body .user-icon {
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.header-body .username-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 0.6em;
}

.header-body .button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease-in-out;
}

.header-body .button:hover {
    background-color: #2980b9;
    transform: scale(1.1);
}

.header-body .post-pp {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 1em;
}