/* CSS pour la page "modifier_profil.php" */

/* Style général de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 20px;
}

.profile-info {
    text-align: center;
}

.pp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px 0;
}

.profile-edit {
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input[type="file"] {
    margin-top: 5px;
}

textarea {
    height: 100px;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

/* Styles spécifiques pour l'en-tête (header) si nécessaire */
.header {
    /* Vos styles d'en-tête ici */
}

/* Ajoutez d'autres styles CSS au besoin pour personnaliser davantage votre page "modifier_profil.php". */
