* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profilViewer-body main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profilViewer-body a {
    text-decoration: none; /* Pour supprimer le soulignement */
    color: #000; /* Choisir la couleur du texte que vous souhaitez */
}


.profilViewer-body .main-content {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 3.7em);
}

.profilViewer-body {
    font-family: 'Roboto', sans-serif;    margin: 0;
    padding: 0;
}

.profilViewer-body header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}



.profilViewer-body .profile {
    display: flex;
    justify-content: space-between;
}

.profilViewer-body .profile-info {
    flex: 1;
    text-align: center;
}

.profilViewer-body .pp{
    max-height: 20vh;
}

.profilViewer-body .profile-info img {
    max-width: 300px;
    border-radius: 50%;
}

.profilViewer-body .profile-info h1 {
    font-size: 32px;
    margin: 10px 0;
}

.profilViewer-body .profile-info p {
    font-size: 16px;
    margin: 10px 0;
}

.profilViewer-body .profile-info a {
    text-decoration: none;
    color: #3498db;
}

.profilViewer-body .profile-posts {
    flex: 2;
}

.profilViewer-body .profile-posts h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.profilViewer-body .post {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.profilViewer-body .post img {
    max-width: 100%;
    height: auto;
}

.profilViewer-body .post p {
    font-size: 16px;
}

