* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.profil-body a {
    text-decoration: none; /* Pour supprimer le soulignement */
    color: #000; /* Choisir la couleur du texte que vous souhaitez */
}


.profil-body main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profil-body .profil {
    display: flex;
    justify-content: space-between;
}


.profil-body .profil-info {
    flex: 1;
    text-align: center;
}

.profil-body .profil-info img {
    max-width: 300px;
    border-radius: 50%;
}

.profil-body .profil-info h1 {
    font-size: 32px;
    margin: 10px 0;
}

.profil-body .profil-info p {
    font-size: 16px;
    margin: 10px 0;
}

.profil-body .profil-info a {
    text-decoration: none;
    color: #3498db;
}

.profil-body .pp{
    max-height: 20vh;
}

.profil-body .profil-posts {
    flex: 2;
}

.profil-body .profil-posts h2 {
    font-size: 20px;
    margin-bottom: 10px;
}








