* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #00aaff;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-header {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 3em;
    background-color: white;
    padding: 0.3em;
}

.search-btn,
.search-input {
    margin-left: 0.6em;
}

.search-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.search-input {
    width: 6em;
    height: 2em;
    border: none;
    border-radius: 1em;
    padding-left: 0.9em;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    transition: width 0.4s ease, background 0.4s ease;
    outline: none;
}

.search-input:hover {
    width: 12em;
    background: rgba(255, 255, 255, 0.5);
}

.user-icon {
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.username-link {
    color: white;
    text-decoration: none;
    margin-left: 0.6em;
}

.main-content {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 3.7em);
}

.left-panel {
    flex: 1;
    padding: 1em;
    border-right: 0.12em solid #ddd;
    overflow-y: auto;
}

.right-panel {
    flex: 3;
    padding: 1em;
    overflow-y: auto;
}

/* New styles for the input container */
.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.9em;
}

.input-container label {
    margin-right: 10px;
}

.input-container textarea {
    flex: 1;
    height: 50px;
}

.input-container input[type="file"] {
    flex: 1;
}
.input-container button,
.modal-submit {
    background-color: #00aaff;
    color: white;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

.input-container .modal-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.1em;
    margin-left: 0.6em;
}

.input-container textarea,
.input-container input[type="file"] {
    width: 100%; /* prend toute la largeur du conteneur */
    margin-bottom: 0.6em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
}


.modal-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.1em;
    margin-left: 0.6em;
}

.modal-submit {
    background-color: #00aaff;
    color: white;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content {
    position: relative;
    margin: 10% auto;
    padding: 1em;
    max-width: 500px; /* élargir la largeur max */
    min-width: 300px; /* largeur minimale */
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 0.6em rgba(0,0,0,0.1);
}

#ouvrirPublication {
    background-color: #00aaff;
    color: white;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1em;
    margin-top: 1.2em;
    display: inline-block; /* pour le rendre en ligne avec d'autres éléments si nécessaire */
}

.post {
    background-color: #f9f9f9;
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 0.6em rgba(0,0,0,0.1);
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.post-pp {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 1em;
}

.post-username {
    font-weight: bold;
}

.post-divider {
    margin-bottom: 1em;
    border: 0;
    border-top: 1px solid #ccc;
}

.post-content {
    margin-top: 1em;
    margin-bottom: 1em;
}

.post-actions {
    display: flex;
    justify-content: space-around; /* modifié pour rapprocher les boutons */
}

.post-action {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease; /* ajout d'animation */
}

.post-action:hover {
    transform: scale(1.1);
}

.like {
    cursor: pointer;
    transition: color 0.2s ease;
}

.like:hover {
    color: red;  /* Choisissez la couleur que vous voulez pour l'effet de survol */
}
