/* Styles pour la page principale */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 20px;
}

/* Styles pour le bouton "Nouvelle publication" */
#ouvrirPublication {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#ouvrirPublication:hover {
    background-color: #2980b9;
}

/* Styles pour la fenêtre modale (popup) */
#formulairePublication {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    max-width: 400px;
    width: 90%;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Styles pour les étiquettes de formulaire */
label {
    display: block;
    margin-bottom: 5px;
}

/* Styles pour le champ de texte "Contenu" */
/* Styles pour le champ de texte "Contenu" */
textarea {
    width: calc(100% - 20px); /* Réduit la largeur de 20px par rapport à 100% */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin: 0 auto;
    height: 100px; /* Ajustez la hauteur selon vos préférences */
}
/* Styles pour le champ de fichier "Image" */
input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
}

/* Styles pour le bouton de soumission */
input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#effacerContenu {
    margin-left: 10px; /* Ajout de marge à gauche pour décoller du texte area */
    padding: 0;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: red;
    vertical-align: middle;
}

#effacerImage{
    margin-left: 10px; /* Ajout de marge à gauche pour décoller du texte area */
    padding: 0;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: red;
    vertical-align: middle;

}

input[type="submit"]:hover {
    background-color: #2980b9;
}
