* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#register {
    display: flex;
    flex-direction: column;

}

#connection {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-nexa {
    width: 35vw;
}

.field {
    width: 350px;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.field-pswd {
    position: relative;
}


.checkpswd {
    position: absolute;
    top: 2.5px;
    right: 2.5px;

}

.NexaInformation {
    display: flex;
    justify-content: center;
}