/* Styles pour la page principale */
body {
    font-family: Arial, sans-serif;
    background-color: #c2d4dc;
    margin: 0;
    padding: 0;
}

.main {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 5vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-form {

    margin-top: 10px;

}

.head {
    text-align: center;
}

.logo-nexa {
    max-width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.inscription-connexion-button-container {
    text-align: center;
    width: auto;
    height: 50px;
    transform: scale(1.25);
    margin: 25px;
}

.connexionAutoButton{
    text-align: center;
    width: auto;
    height: 50px;
    transform: scale(1.25);
    margin: 25px;
}

/* Styles pour les boutons d'inscription et de connexion */
Button, .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
    height: auto;
}



.button:hover,
Button:hover {
    background-color: #0056b3;
    transform: scale(1.25);
}

.titresmdp {
    text-align: center;
}

.choice-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice-form__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.register {
    display: block;
}

.connexion {
    display: none;
}


/* Styles pour les formulaires */
form {
    margin: 20px 0;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}


.field {
    margin-bottom: 15px;
    width: 95%;
    margin: 5px;
}

button {
    border-radius: 50px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.field-pswd {
    position: relative;
}

.field-pswd__mdp {
    /*width: 60vw;*/
}

.checkpswd {
    position: absolute;
    top: .75vh;
    right: -2vh;
    height: 20px;
    width: 20px;
    font-weight: bold;
}

/* Styles pour les messages d'erreur */
.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
    background-color: rgba(255, 167, 170, 0.2);
    border-radius: 8px;
    padding: 5px;
}

/* Styles pour la section "A Propos de Nexa" */
.NexaInformation {
    text-align: center;
    margin-top: 20px;
}

.NexaInformation h2 {
    font-size: 24px;
    color: #007bff;
}