*{
    font-family: Arial, sans-serif;
}

/* Styles pour centrer le contenu */
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
}



/* Styles pour l'image de profil */
img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Styles pour le nom d'utilisateur */
h1 {
    font-size: 24px;
    margin-top: 10px;
}

/* Styles pour les informations de l'utilisateur */
.user-info {
    text-align: center;
    padding: 10px;
    position: relative;
    top: 5px; /* Déplace les informations de l'utilisateur vers le haut */
}

/* Styles pour la bannière */
.user-banner {
    width: 100%;
    height: 250px;

    background-image: url('../Images/banniere-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0px;
}

.follower-info {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    text-align: center; /* Centrer le texte à l'intérieur */
    margin-top: -20px;
    margin-right:-55px; /* Marge à droite pour décaler les éléments */
}

/* Styles pour les boutons "S'abonner" et "Partager" */
.user-actions {
    margin-top: 10px;
}

.follower-count,
.Abonnement {
    margin-right: 30px;
    font-size: 16px;
    position: relative;
}

.follower-count:hover {
    color: #fffbfb;
    border-color: #000;
}

.Abonnement:hover {
    color: #ffffff;
    border-color: #000;
}

.subscribe-button,
.share-button {
    display: inline-block; /* Utilisez "inline-block" pour mettre les boutons côte à côte */
    width: auto; /* Ajustez la largeur automatiquement en fonction du contenu */
    margin-right: 10px; /* Espacement entre les boutons */
    padding: 10px 20px;
    font-size: 16px;
    text-align: right;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin: 10px;
    position: relative;
}

.subscribe-button:hover,
.share-button:hover {
    background-color: #eee;
    color: #000;
    border-color: #000;
}

body{
    margin: 0px;
}

.separator {
    width: 2px; /* Largeur de la ligne */
    height: 300px; /* Hauteur de la ligne (ajustez selon vos besoins) */
    background-color: #ccc; /* Couleur de la ligne */
    margin-left: 10px; /* Espacement entre la ligne et le bouton "Partager" */
    display: inline-block; /* Pour que la ligne n'affecte que l'espace horizontal */
}
