/* CSS pour la page "modifier_profil.php" */

/* Style général de la page */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none; /* Pour supprimer le soulignement */
    color: #000; /* Choisir la couleur du texte que vous souhaitez */
}
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 20px;
}

.profile-info {
    text-align: center;
}

.pp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px 0;
}

.profile-edit {
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input[type="file"] {
    margin-top: 5px;
}

textarea {
    height: 100px;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

/* Styles spécifiques pour l'en-tête (header) si nécessaire */
.header {
    /* Vos styles d'en-tête ici */
}

/* Ajoutez d'autres styles CSS au besoin pour personnaliser davantage votre page "modifier_profil.php". */


/* Style de base pour la page */
body {
    font-family: 'Roboto', sans-serif;    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style de la section de profil */
.profile {
    display: flex;
    justify-content: space-between;
}

.profile-info {
    flex: 1;
    text-align: center;
}

.pp{
    max-height: 20vh;
}

.profile-info img {
    max-width: 300px;
    border-radius: 50%;
}

.profile-info h1 {
    font-size: 32px;
    margin: 10px 0;
}

.profile-info p {
    font-size: 16px;
    margin: 10px 0;
}

.profile-info a {
    text-decoration: none;
    color: #3498db;
}

.profile-posts {
    flex: 2;
}

/* Style pour les publications de l'utilisateur */
.profile-posts h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.post {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.post img {
    max-width: 100%;
    height: auto;
}

.post p {
    font-size: 16px;
}